div.rainbow {
	margin-top: 20%;
	margin-left: auto;
  	margin-right: auto;
	width: 70%;
	height: 150px;
	background: linear-gradient(to right, red, orange , yellow, green, blue, indigo, violet);
	transform:
		rotate(170deg)
	    perspective(150px)
	    rotateY(10deg)
	    translate(160px);
} 

