html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(146, 180, 254, 0.516);
}

.container {
    height: fit-content;
    width: 50%;
    border-radius: 10px;
    background: rgba(71, 114, 206, 0.8);
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 100%;
    border: 2px solid  blue;
    border-radius: 4px;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    border: 2px solid rgba(0, 61, 193, 0.8);
    border-radius: 7px;
    background: rgb(117, 163, 255);
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.button_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}